.headerName{
  text-align: center;
  color: darkgoldenrod;
}

.images{
  width: 400px;
  height: 300px;
  border: darkorange solid ;
}

.animalName{
  color: darkgreen;
  margin-left: 150px;
}

.description{
  text-align: justify;
  color: darkolivegreen;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
.animalData{
  margin-left: 500px;
  
}
.myName{
  color:darkgoldenrod;
  font-size: 20px;
  font-weight: 200px;
  background-color:tan;
  text-align: center;
  
}